apiVersion: v1
kind: Service
metadata:
  labels:
    app: h5-question
  name: h5-question
  namespace: pivothr
spec:
  ports:
    - name: "8110"
      port: 8110
      targetPort: 8110
  selector:
    app: h5-question
status:
  loadBalancer: {}

---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: h5-question
  name: h5-question
  namespace: pivothr
spec:
  replicas: 1
  selector:
    matchLabels:
      app: h5-question
  strategy:
    type: RollingUpdate
  template:
    metadata:

      labels:
        app: h5-question
    spec:
      priorityClassName: high-priority
      containers:
      - image: registry.cn-hangzhou.aliyuncs.com/pivotstudio/h5-question:latest
        name: h5-question
        ports:
          - containerPort: 8110
        resources:
          limits:
            cpu: 100m
            memory: 100Mi
          requests: 
            cpu: 100m
            memory: 50Mi
      restartPolicy: Always
status: {}


