html,
body {
  background: linear-gradient(
    180deg,
    rgba(101, 183, 146, 0.79) 0%,
    #32815c 100%
  );
  will-change: transform;
  overflow: hidden;
}

.container {
  height: 100%;
}
.zindex-1 {
  z-index: 1 !important;
  pointer-events: none;
}
.zindex-10 {
  z-index: 10 !important;
  pointer-events: none;
}
.zindex-100 {
  z-index: 100 !important;
  pointer-events: none;
}

.v-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.boy {
  z-index: 100;
  pointer-events: none;

  .v-image__image--cover {
    background-size: contain !important;
  }
}
@keyframes small {
  0% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes upAndDown {
  0% {
    transform: translateX(-50%) translateY(0px);
  }
  100% {
    transform: translateX(-50%) translateY(-30px);
  }
}
.tip_save {
  position: absolute;
  left: 50%;
  animation: upAndDown 1s linear infinite alternate;
  bottom: 4vh;
  font-size: 23px;
  font-weight: bolder;
  opacity: 0.6;
  font-style: italic;
  letter-spacing: 1vw;
  white-space: nowrap;
}
