html,
body {
  background: linear-gradient(
    180deg,
    rgba(101, 183, 146, 0.79) 0%,
    #32815c 100%
  );
  will-change: transform;
  overflow: hidden;
}

.container {
  height: 100%;
}
.zIndex-1 {
  z-index: 1;
}
.v-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.bg {
  z-index: 0;
}
@keyframes small {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes leave {
  0% {
    transform: translate(-50%) scale(1.2);
  }
  100% {
    transform: translate(-50%) scale(1);
  }
}
@keyframes upAndDown {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-30px);
  }
}
@keyframes flashBlue {
  0% {
    background-color: rgba(0, 162, 232, 0.79);
  }
  100% {
    background-color: inherit;
  }
}
.q_one {
  z-index: -1;
  position: absolute;
  left: 50%;
  top: 44%;
  transform: translate(-50%, -50%);
  height: 80vh;
}
